BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
DATABASE_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=
MAIL_FROM=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=
OPENAI_API_URL=
OPENAI_MODEL=
